<%= form_with model: [@project, Comment.new ] do |form|%>
    <h3>Add a comment</h3> 
    <%= form.label "Your Name:"%>
    <%= form.text_field :user_name %> <br>
    <%= form.label "Comment:"%>
    <%= form.text_area :content %>
    <%= form.submit %>
<%end%>