<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    Posted <%= time_ago_in_words project.created_at %> ago
  </p>

  <p>
    <strong><%= pluralize project.comments.count, "comment" %></strong>
  </p>

  <p>
    <strong>Content:</strong>
    <%= project.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

</div>
