<article id="<%= dom_id project %>">
  <mark>
    <strong>Status:</strong>
    <%= project.status %>
  </mark>

  <h4><%= project.title %></h4>

  <p><%= project.content %></p>

  <small>Posted <%= time_ago_in_words project.created_at %> ago</small>

  <p><strong><%= pluralize project.comments.count, "comment" %></strong></p>
</article>
